@keyframes amRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// 跳动
@keyframes amJump {
  to {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
}

@keyframes amJump {
  to {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
}

@keyframes amJumpOne {
  50% {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }

  100% {
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes amJumpOne {
  50% {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }

  100% {
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

// 闪烁
@keyframes amBlink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes amBlink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 呼吸
@keyframes amBreathe {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

@keyframes amBreathe {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

// 闪现
@keyframes amFlash {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes amFlash {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

// 弹动
@keyframes amBounce {
  0%,
  20%,
  53%,
  100% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%,
  43% {
    transform: translate3d(0, -30px, 0) scaleY(1.1);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    transform: translate3d(0, -15px, 0) scaleY(1.05);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes amBounce {
  0%,
  20%,
  53%,
  100% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%,
  43% {
    transform: translate3d(0, -30px, 0) scaleY(1.1);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    transform: translate3d(0, -15px, 0) scaleY(1.05);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

// 抖动
@keyframes amShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes amShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.am {
  --animate-duration: 1s;
  --animate-delay: 0s;
}

.am-infinite {
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.am-jump {
  animation-name: amJumpOne;
  animation-duration: var(--animate-duration);
  animation-timing-function: ease;
  animation-delay: var(--animate-delay);
}

.am-jump.am-infinite {
  animation-name: amJump;
}

.am-rotate {
  animation-name: amRotation;
  animation-duration: var(--animate-duration);
  animation-timing-function: linear;
  animation-delay: var(--animate-delay);
}

.am-rotate.am-infinite {
  animation-direction: normal;
}

.am-blink {
  animation-name: amBlink;
  animation-duration: var(--animate-duration);
  animation-timing-function: linear;
  animation-delay: var(--animate-delay);
}

.am-breathe {
  animation-name: amBreathe;
  animation-duration: var(--animate-duration);
  animation-timing-function: ease-in-out;
  animation-delay: var(--animate-delay);
}

.am-flash {
  animation-name: amFlash;
  animation-duration: var(--animate-duration);
  animation-timing-function: ease-in-out;
  animation-delay: var(--animate-delay);
}

.am-bounce {
  animation-name: amBounce;
  animation-duration: var(--animate-duration);
  animation-timing-function: ease-in-out;
  animation-delay: var(--animate-delay);
}

.am-bounce.am-infinite {
  animation-direction: normal;
}

.am-shake {
  animation-name: amShake;
  animation-duration: var(--animate-duration);
  animation-timing-function: ease-in-out;
  animation-delay: var(--animate-delay);
}
